@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;900&family=Noto+Sans+Bengali:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:focus,
*:hover {
  outline: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 18 100% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 92%;
    --secondary-foreground: 222 15% 39%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-inter;
  }
  h1 {
    @apply text-[64px] leading-[64px] font-bold;
  }
  h2 {
    @apply text-[45px] leading-[64px] font-bold;
  }
  h3 {
    @apply text-[32px] leading-[40px] font-bold;
  }
  p {
    @apply p-0 m-0;
  }
}

@layer components {
  .max-w {
    @apply max-w-[1320px] mx-auto;
  }
  .wrapper {
    @apply min-h-screen;
  }
  .title {
    @apply font-semibold text-black text-title;
  }
  .title-secondary {
    @apply text-base font-semibold leading-6 text-black;
  }
  .paragraph {
    @apply text-base leading-6 text-neutral-700;
  }
  .footer-link {
    @apply block font-medium leading-8 text-gray-dark hover:text-primary hover:font-semibold;
  }
  .tab-item {
    @apply px-6 pb-4 font-semibold list-none transition-all duration-200 ease-in-out border-b-2 border-transparent cursor-pointer text-neutral-700 shrink-0 hover:text-orange-400;
  }
  .tab-item-active {
    @apply font-semibold text-primary border-primary;
  }
  .nav-active {
    @apply font-medium text-primary;
  }
}

/* Keen Slider */
.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 12px;
  height: 12px;
  background: #ffd9c8;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #ff4f00;
}
